.THIS.row {
    background: #fff;
    max-width:90%;
    border-bottom: 2px solid #f0f1f2;
    padding: 10px;
    margin-left: 2%;
    margin-bottom: 10px;
    min-height: 70px;
    border-radius: 4px;
}

.THIS.uiInputSelect {
    width: 80%;
    padding-left: 10px;
    min-height: 28px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 40px;
}

.THIS img {
    float: right;
    padding-right:5%;
    padding-top: 20px;
}

.THIS.icons {
    height:60px;
}